
.form-row{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
}


.form-check{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
}

.btn-primary{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
}